*{
    margin:0;
    padding:0;
    background-color: #111;
}

h1, h3 {
    margin-top:10px;
    text-align:center;
    color:antiquewhite;
    font-family: 'Averia Libre', cursive;
}

.main {
    margin-top:50px;
    text-align:center;
}

iframe {
    border:5px inset indigo;
    border-radius:5px;
    
}

.next , .switch {
    margin:5px;
    background-color:antiquewhite;
    border:4px outset indigo;
    border-radius:10px;
    font-family: 'Averia Libre', cursive;
    font-size:.8em;
    background-color:antiquewhite;
    cursor:pointer;
    height:30px;
    width:70px;
}

.options {
    margin-top:20px;
    text-align:center;
}

.sidebar {
    margin-left:50px;
}

.mirrored {-webkit-transform: scaleX(-1);} 

