*{
    margin-top:10px;:0;
    padding:0;
}

 h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    position:relative;
    right:320px;
    color:grey;
}


.share {
    text-align: right;
    margin-top:-90px;
}

.tweet {
    text-align:right;
    margin-top:3px;
}


body {
    background-image: url('badTV.png');
    background-repeat: no-repeat;
    background-size:870px;
    background-position-y:-50px;
    background-position-x:center;
    background-color:black;
}

.main {
    margin-top:10px;
    text-align: center;
}

.mirrored {-webkit-transform: scaleX(-1);} 

.imgLogo {
    border:2px #444 inset;
    padding:2px;
    margin-top:10px;
    margin-left:46%;
    width:70px;
}

